body {
    background-color: white;
    color: black;
    padding: 2% 10%;

}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;

}

.boxes {
    background-color: blue;
    padding: 20px;
    margin: 20px;
    border-style: double;
    border-color: red;
}

#dates2 {
    display: none;
}

h1 { 
    color: white ;
    font-size: 4em ;
    text-align: center;
}

.foot {
    display: flex;
    margin: 10px 200px;

}
.logos {
    display: block;
    text-align: center;
    margin: 1%;

}

.foto {
    float: right;
    
}
.dates {
    color: red;
}
.title {
    margin-bottom: 20px;
    border-style: dashed;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="foto"] {
      height: 100px;
      width: 100px;
    }
    h1 {
        color:green;
    }
    .foot {
        display: block;
        margin: 30%;
        ;
        
    }
}