.wrapper2{
    display: flex;
    border: 2px solid black;
    flex-grow: 1;
}
.arti{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}
.cate{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.articles{
    display: flex;
    flex-direction: column;
}
.read{
   align-self: end; 
}