body{
    margin: 5%;
}
header{
    display: flex;
    align-self: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.bartool {
    display: flex;
    background-color: black; 
    justify-content: space-around;
}
.bartool2{  
    display: inline;
    background-color: aqua;
    
}
.foot{
    display: flex;
    justify-content: space-around;
}
.logos {
    display: block;
}
@media only screen and (max-width: 768px) {
    .foot {
        flex-direction: column;
        align-items: center;
    }
}